<div class="container">
    <div class="row">
        <!--<div class="row">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a routerLink="/users" class="btn btn-secondary" type="button">Users</a>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a routerLink="/notifications" class="btn btn-secondary" type="button">Notifications</a>
            </div>
        </div>-->
        <div class="row g-2">
            <div class="offset-md-10 col-md-2">
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
        <div class="row g-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>