<div class="row mb-3" *ngIf="logs.length > 0">
    <h3>Logs:</h3>

    <mat-accordion *ngFor="let log of logs">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'Log id: ' + log.logId}}
                </mat-panel-title>
                <mat-panel-description>
                    {{log.description}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <p>Operation: {{log.operation}}</p>
                <p>Timestamp: {{log.timestamp}}</p>
                <p>Affected file: {{'File id: ' + log.affectedFile.fileId + ', file name: ' + log.affectedFile.name}}</p>
                <p>Action performed by: {{'User id: ' + log.createdBy.userId + ', username: ' + log.createdBy.username}}</p>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="row mb-3">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs" (click)="breadcrumbSelected(breadcrumb)">
                {{breadcrumb.name}}
            </li>

            <li *ngIf="workingDir" class="breadcrumb-item active">
                {{workingDir.name}}
            </li>
        </ol>
    </nav>
</div>

<div class="row mb-3">
    <h1>Files</h1>
    <div class="row mb-3">
        <form (ngSubmit)="createDir()">
            <div class="form-floating mb-3">
                <input [(ngModel)]="newDirName" type="text" name="newDirName" class="form-control" id="newDirName" placeholder="New dir name">
                <label for="newDirName">New directory name</label>
            </div>
            <button [disabled]="!newDirName" type="submit" class="btn btn-primary">Create new directory</button>
        </form>
    </div>
    <div class="row mb-3">
        <form (ngSubmit)="uploadFile()">
            <div class="mb-3">
                <label for="formFile" class="form-label">Add new file</label>
                <input class="form-control" type="file" id="formFile" (change)="newFileChosen($event)">
            </div>
            <button class="btn btn-secondary" [disabled]="!newFile">Add new file</button>
        </form>
    </div>
   
    <mat-accordion class="headers-align" multi>
        <mat-expansion-panel *ngFor="let file of files">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon *ngIf="file.isDirectory == true">folder</mat-icon>
                    <mat-icon *ngIf="file.isDirectory == false">insert_drive_file</mat-icon>
                    {{file.name}}
                </mat-panel-title>
                <mat-panel-description>
                    ID: {{file.fileId}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="d-flex justify-content-evenly">
                <button *ngIf="file.isDirectory" class="btn btn-primary" (click)="openDir(file)">Open</button>
                <button class="btn btn-secondary">Move</button>
                <button class="btn btn-danger" (click)="deleteFile(file)">Delete</button>
                <button class="btn btn-info" (click)="openLogsModal(file)">View logs</button>
                <a class="btn btn-primary" [href]="'/api/v1/files/file/' + file.fileId">Download</a>    
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>