<h2 mat-dialog-title>File logs</h2>
<mat-dialog-content class="mat-typography">
    <mat-accordion class="headers-align" multi>

        <mat-expansion-panel *ngFor="let log of logs">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Log id: {{log.logId}}
              </mat-panel-title>
              <mat-panel-description>
                {{log.description}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p><b>Timestamp:</b> {{log.timestamp}}</p>
            <p><b>Operation:</b> {{log.operation}}</p>
            <p><b>Affected file:</b> {{'ID: ' + log.affectedFile.fileId + ', name: ' + log.affectedFile.name}}</p>
            <p><b>Performed by user:</b> {{'ID: ' + log.createdBy.userId + ', username: ' + log.createdBy.username}}</p>
        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>