<h2 mat-dialog-title>File logs</h2>
<mat-dialog-content class="mat-typography">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Log ID</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Description</th>
        <th scope="col">Operation</th>
        <th scope="col">Affected file</th>
        <th scope="col">Performed by user</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{log.logId}}</td>
        <td>{{log.timestamp | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{log.description}}</td>
        <td>{{log.operation}}</td>
        <td>{{'(' + log.affectedFile.fileId + ')' + log.affectedFile.name}}</td>
        <td>{{'(' + log.createdBy.userId + ')' + log.createdBy.username}}</td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>